@import '~@payloadcms/ui/scss';

.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 var(--gutter-h);
  position: relative;
  margin-bottom: base(1.5);

  &__banner {
    & h4 {
      margin: 0;
    }
  }

  &__instructions {
    list-style: decimal;
    margin-bottom: base(0.5);

    & li {
      width: 100%;
    }
  }

  & a:hover {
    opacity: 0.85;
  }
}
